<header>
	<div id="background"></div>
	<div class="contentContainer">
		<a routerLink="/"><gp-logo [height]="(screenWidth | async) > 767 ? 110 : 60"></gp-logo></a>
		<div id="menuWrapper">
			<div *ngIf="(screenWidth | async) < 1024" id="mobileMenuIcon" (click)="openMobileMenu()">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
					<path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2
					c0,1.104,0.896,2,2,2h24c1.104,0,2-0.896,2-2C30,14.896,29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24
					c1.104,0,2-0.896,2-2S29.104,22,28,22z" />
				</svg>
			</div>
			<ul *ngIf="(screenWidth | async) >= 1024 || mobileOpen" id="mainMenu">
				<li>
					<a (click)="toggleMenu($event, '/tools', 'tools')" class="first">Tools</a>
					<ul [@slideHeight]="toggleHeight['tools']">
						<li><a routerLink="/tools/dice">Dice</a></li>
						<li><a routerLink="/tools/cards">Cards</a></li>
						<li><a routerLink="/tools/music">Music</a></li>
					</ul>
				</li>
				<li><a routerLink="/systems">Systems</a></li>
				<li *ngIf="loggedIn">
					<a routerLink="/characters/my">Characters</a>
					<!-- <ul ng-if="characters.length">
						<li ng-repeat="char in characters | limitTo: 5"><a routerLink="/characters/{{char.system}}/{{char.characterID}}" ng-bind-html="char.label | trustHTML"></a></li>
						<li><a routerLink="/characters/my">All characters</a></li>
					</ul> -->
				</li>
				<li>
					<a [routerLink]="['/games', loggedIn ? 'list' : '']">Games</a>
					<!-- <ul ng-if="loggedIn && games.length">
						<li ng-repeat="game in games | limitTo: 5"><a routerLink="/games/{{game.gameID}}"><span ng-bind-html="game.title | trustHTML"></span> <img ng-if="game.isGM" src="/images/gm_icon.png"></a></li>
						<li><a routerLink="/games/my">All games</a></li>
					</ul> -->
				</li>
				<li><a routerLink="/forums">Forums</a></li>
				<li *ngIf="loggedIn"><a routerLink="/gamersList">The Gamers</a></li>
				<li><a routerLink="/links">Links</a></li>
				<ng-container *ngIf="(currentUser$ | async) === null">
					<li id="register"><a (click)="openPortalModal('register')" class="last">Register</a></li>
					<li id="login"><a (click)="openPortalModal('login')">Login</a></li>
				</ng-container>
				<li *ngIf="currentUser$ | async" id="userMenu">
					<a (click)="toggleMenu($event, '/ucp', 'user')" class="avatar"><img [src]="(currentUser$ | async).getAvatar()"></a>
					<a *ngIf="(pmCount$ | async) > 0" routerLink="/pms" class="mail"><img src="/assets/images/envelope.jpg" title="Private Messages" alt="Private Messages"></a>
					<ul [@slideHeight]="toggleHeight['user']">
						<li><a routerLink="/ucp">Profile</a></li>
						<li><a routerLink="/pms">Messages ({{pmCount}})</a></li>
						<li><a (click)="logout()" class="last">Logout</a></li>
					</ul>
				</li>
			</ul>
			<div *ngIf="(screenWidth | async) < 1024 && mobileOpen" id="mobileMenuOverlay" (click)="closeMobileMenu()"></div>
		</div>
	</div>
</header>