<div class="wrapper vAlignMiddle">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="100px" viewBox="0 0 50 100" enable-background="new 0 0 50 100" xml:space="preserve">
		<g>
			<polygon fill-rule="evenodd" clip-rule="evenodd" points="12.621,98.5 1.5,87.379 1.5,12.621 12.621,1.5 37.379,1.5 48.5,12.621 48.5,87.379 37.379,98.5" [attr.class]="'background ' + die"/>
			<path d="M36.758,3L47,13.243v73.515L36.758,97H13.243L3,86.758V13.243L13.243,3H36.758 M38,0H12L0,12v76l12,12h26l12-12V12L38,0 L38,0z"/>
		</g>
	</svg>
	<ng-container *ngIf="die && face">
		 <img *ngFor="let symbol of face; let first = first;" [src]="'/assets/images/tools/dice/starwarsffg/' + symbol + '.svg'" [class]="faceClass" [class.first]="first" [class.second]="!first"> 
	</ng-container>
</div>
